<script>
  // window.playerIds = @players; 
</script>


<div id="content">
  <% @players.each_with_index do |player, index| %>
     
    <ol class="track" id="player<%= player.id %>" data-player-id="<%= player.id %>" data-player-key='<%= 80 + index %>'>
      <li class="active"></li>
      <% 9.times do %>
        <li></li>
      <% end %>
    </ol> 
    <% end %>

  <div id="notify_winner"></div>
  <div class="reset hidden">
  <form action="/enter_race" method="post">
  <% @players.each_with_index do |player, index| %>
    <input type="hidden" name="player<%= index + 1 %>" value="<%= player.player_name %>">
  <% end %>
    <input type="submit" class="reset_game_button">
  </form>
</div>
